# Зависимости
node_modules/
package-lock.json

# Файлы окружения
.env
.env.local
.env.*.local

# Логи
*.log
npm-debug.log*

# Директории ОС
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo